<form
  class="formulaire d-flex flex-column"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h3 class="form-title">Login</h3>

  <div class="form-control d-flex flex-column">
    <label for="email">Email<span class="asterisco">*</span></label>
    <input
      formControlName="email"
      type="text"
      id="email"
      name="email"
      placeholder="exemple@gmail.com"
      (change)="updateFormErrors()"
    />
  </div>

  <div class="form-control d-flex flex-column">
    <label for="password">Password<span class="asterisco">*</span></label>
    <input
      formControlName="password"
      name="password"
      type="password"
      id="password"
      placeholder="digitare la password"
      (change)="updateFormErrors()"
    />
  </div>

  <!-- Errore generale del form -->
  <div *ngIf="formErrors['form'].message">
    <div class="separator"></div>
    <p class="errorText">{{ formErrors["form"].message }}</p>
  </div>
  <!-- <button class="btn btn-primary mb-5 mt-10">Sign in</button> -->
  <!-- Pulsante con condizione ternaria -->
  <div class="button-container mt-20 d-flex flex-justify-content-center">
    <button class="btn" type="submit" [disabled]="loading">
      <!-- Testo "Sign in" visibile solo quando non è in caricamento -->
      <span class="button-text" *ngIf="!loading">Sign in</span>

      <!-- Spinner visibile solo quando è in caricamento -->
      <div class="loading-spinner" *ngIf="loading">
        <fa-icon [icon]="faSpinner" class="spinner"></fa-icon>
      </div>
    </button>
  </div>
</form>
