<div class="header-container">
  <nav class="navabar-container" >
    <a href="">
      <img ngSrc="assets/icone-yellow-wwa.svg" width="40" height="40" alt="Icône logo WWA">
    </a>

    <div class="navbar-content">
      <ul class="navbar-links">
        <li><a href="">Candidater</a></li>
        <li><a href="">Programmes</a></li>
        <li><a href="">Universités</a></li>
        <li><a href="">À propos</a></li>
      </ul>
    </div>
    <button class="button-primary-white">
      <fa-icon [icon]="faUser" [size]="'1x'"></fa-icon>
      <p>Se connecter</p>
    </button>
  </nav>
</div>
