<div class="footer-container">
  <div class="footer-content container">
    <div class="footer-content-top">
      <ul class="footer-links">
        <img src="assets/icone-pink-wwa.svg" alt="">
        <span>Votre alié pour débuter vos études universitaires</span>
        <div class="footer-reseaux">
          <a href=""><fa-icon [icon]="faWhatsapp" [size]="'2x'"></fa-icon></a>
          <a href=""><fa-icon [icon]="faInstagram" [size]="'2x'"></fa-icon></a>
          <a href=""><fa-icon [icon]="faFacebook" [size]="'2x'"></fa-icon></a>
        </div>
      </ul>
      <ul class="footer-links">
        <li><p>Ressources</p></li>
        <li><a>Mon compte</a></li>
        <li><a>Candidater</a></li>
        <li><a>Programmes</a></li>
        <li><a>Universités</a></li>
        <li><a>Destinations</a></li>
      </ul>
      <ul class="footer-links">
        <li><p>Liens utiles</p></li>
        <li><a>A propos</a></li>
        <li><a>Nos Actualités</a></li>
        <li><a>Mentions Légales</a></li>
        <li><a>C.G.V</a></li>
        <li><a>P.G.C</a></li>
      </ul>
      <ul class="footer-links">
        <li><p>WWA et vous</p></li>
        <li><a>Nous contacter</a></li>
        <li><a>Newsletter</a></li>
        <li><a>Webinars en ligne</a></li>
        <li><a>Processus de candidature</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-content-bottom container">
    <ul class="footer-links">
      <li><span>WWA © 2025 - Tous droits réservés - <button class="button-qatorze" href="">Powered and supported by Qatôrze</button></span></li>
    </ul>
    <ul class="footer-links">
      <details class="dropdown-black">
        <summary>Français </summary>
        <div class="dropdown-content-black">
          <a href=""> 🇬🇧 Anglais</a>
          <a href=""> 🇪🇸 Espagnol</a>
          <a href=""> 🇨🇳 Chinois</a>
        </div>
      </details>
    </ul>
  </div>
</div>
