// ========================================
// WWA - WORLD WISE ADMISSION ©, TOUS DROITS RÉSERVÉS
// ========================================

// ========================================
// IMPORT POLICES GOOGLE FONTS
// ========================================
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--background-light);
  font-family: var(--font-family-terciary);
}

p {
  color: var(--black);
  font-family: var(--font-family-terciary);
  font-size: var(--fs-md);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  font-size: var(--fs-md);
}

fa-icon {
  font-size: 1.33rem;
}

/*Definition de variables*/
:root {
  /* Polices */
  --font-family-primary: "Sora", sans-serif;
  --font-family-secondary: "Inter", "Sora", sans-serif;
  --font-family-terciary: "Figtree", "Inter", sans-serif;

  /* Couleurs */
  --primary-color-pink: #F02860;
  --primary-color-yellow: #FDD737;
  --secondary-color-white: #FFFFFF;
  --secondary-color-light-pink: #FFE3EB;

  /* Nuances des couleurs principales et secondaires */
  --primary-color-pink-dark-300: #BA093A;
  --primary-color-pink-dark-200: #C71043;
  --primary-color-pink-dark-100: #E1104B;
  --primary-color-pink-light-100: #FF4A7D;
  --primary-color-pink-light-200: #FF628E;
  --primary-color-pink-light-300: #FF93B1;

  --secondary-color-white-dark-300: #FF93B1;
  --secondary-color-white-dark-300: #FFB8CC;
  --secondary-color-white-dark-300: #FFCDDB;
  --secondary-color-white-light-100: #FFF2F6;
  --secondary-color-white-light-200: #FFFAFB;

  --primary-color-yellow-dark-300: #F1B100;
  --primary-color-yellow-dark-200: #FABD16;
  --primary-color-yellow-dark-100: #FDC837;
  --primary-color-yellow-dark-100: #FFE782;
  --primary-color-yellow-dark-200: #FFEFAC;
  --primary-color-yellow-dark-300: #FFF7E1;
  --primary-color-yellow-dark-400: #f9f9f6;

  --secondary-color-white-dark-300: #E7E7E7;
  --secondary-color-white-dark-200: #F4F4F4;
  --secondary-color-white-dark-100: #FBFBFB;

  /* Nuances de gris */
  --black: #000000;
  --black-light-100: #141414;
  --black-light-200: #302e2a;
  --black-light-300: #33312e;

  --dark-grey: #4c4a47;
  --dark-grey-light-100: #77746c;
  --dark-grey-light-200: #999693;

  --light-grey: #cccccc;
  --light-grey-100: #dad4ca;
  --light-grey-200: #ecebe5;

  /* Gradient des couleurs */ 
  --primary-color-pink-gradient: linear-gradient(45deg, #F02860, #FFE3EB);
  --primary-color-yellow-gradient: linear-gradient(45deg, #FDD737, #FFFFFF);
  --secondary-color-white-gradient: linear-gradient(45deg, #FFFFFF, #FFE3EB);
  --secondary-color-light-pink-gradient: linear-gradient(45deg, #FFE3EB, #F02860);

  /* Couleurs neutres et d'accompagnement */
  --brown: #332323;
  --brown-dark-100: #2B1E1E;

  --light-yellow: #FFF7E1;
  --light-blue: #DCF3FF;
  --light-purple: #F2EBFF;
  --light-green: #DBFBE0;
  --background-light-2: #F7F8FA;
  --background-light: #FFFFFF;

  /* Box shadow */ 

  --bs-light: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /* Font Sizes */
  --fs-xxs:0.5rem;
  --fs-xs:0.75rem;
  --fs-s:1rem; /* Standard (16px) */
  --fs-sm:1.25rem;
  --fs-md:1.5rem;
  --fs-lg:1.75rem;
  --fs-xl:2rem;
  --fs-xxl:2.25rem;
  --fs-xxxl:2.5rem;
  --fs-display-1:3rem;
  --fs-display-2:4rem;
  --fs-display-3:5rem;
  --fs-display-4:5.5rem;

  /* Font Weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400; /* Regular */
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* Letter Spacing */
  --ls-regular: 0.01rem;
  --ls-medium: 0.1rem;
  --ls-large: 0.1rem;



  /* Border */ 
  --border-width-none: 0px;
  --border-width-thin: 1px;
  --border-width-medium: 2px; /* Bordures standard */
  --border-width-thick: 4px;

  /* Border radius */
  --border-radius-0: 0px;
  --border-radius-1: 5px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 24px;
  --border-radius-100: 100px;

  /* Espacements */
  --gap-0: 0px;
  --gap-1: 3px;
  --gap-2: 5px;
  --gap-3: 7px;
  --gap-5: 10px; /* Espacement standard */
  --gap-6: 14px;
  --gap-7: 18px;
  --gap-8: 20px;
  --gap-9: 25px;
  --gap-10: 30px;

  /* Margins */
  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 3rem;
  --margin-4: 4rem;

}

// ========================================
// STYLE CSS RÉUTILISÉ
// ========================================

/* Layouts */

.container {
  width: 100%;
  max-width: 1394px;
  margin-right: auto;
  margin-left: auto;
}

.module-container {
  min-height: 100vh;
}

.page-container {
  border-radius: 10px;
  margin: 0 40px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.margin-360-1 { margin: var(--margin-1); }
.margin-360-2 { margin: var(--margin-2); }
.margin-360-3 { margin: var(--margin-3); }
.margin-360-4 { margin: var(--margin-4); }


/* Propriétées flexbox */

.d-flex { display: flex; }

.flex-row { flex-direction: row; }

.flex-column { flex-direction: column; }

.flex-justify-content-center { justify-content: center; }

.flex-justify-content-between { justify-content: space-between; }

.flex-align-items-center { align-items: center; }

.flex-align-items-between { align-items: space-between; }

.flex-fill {
  // Pour que l'élément prenne tout l'espace disponible
  flex: 1 1 auto; 
}

.flex-30 { flex: 1 1 30%; }

.flex-40 { flex: 1 1 40%; }

.flex-50 { flex: 1 1 50%; }

.flex-60 { flex: 1 1 60%; }

.flex-70 { flex: 1 1 70%; }

//Utils

.w-50 { width: 50%; }

.w-100 { width: 100%; }

.p-5 { padding: 5px; }

.p-10 { padding: 10px; }

.p-15 { padding: 15px; }

.p-20 { padding: 20px;
}

.p-25 { padding: 25px; }

.m-5 { margin: 5px; }

.m-10 { margin: 10px; }

.m-15 { margin: 15px; }

.m-20 { margin: 20px; }

.m-25 { margin: 25px; }

.mt-5 { margin-top: 5px; }

.mt-10 { margin-top: 10px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mb-5 { margin-bottom: 5px; }

.mb-10 { margin-bottom: 10px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

// Components

.formulaire {
  width: 410px;
  padding: 15px 25px;
  color: white;
  border: 1px solid var(--lightGray);
  background-color: var(--dark-gray);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// ========================================
// DESIGN MATERIEL
// ========================================

/* SET DE BOUTTONS ET LEURS VARIANTES */

// Boutton blanc
.button-primary-white {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  height: fit-content;
  background-color: #f0f0f0;
  border: 0;
  color: var(--black);
  border-radius: var(--border-radius-100);
  padding: 0.5rem 1rem 0.375em 1rem;
  margin-bottom: 7px;
  font-weight: var(--fw-semibold);
  font-family: var(--font-family-primary);
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;

  p {
    font-weight: var(--fw-semibold);
    font-family: var(--font-family-primary);
  }

}
.button-primary-white:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

// Boutton rose
.button-primary-pink {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  height: fit-content;
  background-color: var(--primary-color-pink);
  color: var(--secondary-color-white);
  border: 0;
  border-radius: var(--border-radius-100);
  padding: 0.5rem 1rem 0.375em 1rem;
  margin-bottom: 7px;
  font-family: var(--font-family-primary);
  text-shadow: 0 0.0625em 0 rgba(255, 0, 98, 0.5);
  box-shadow: inset 0 0.0625em 0 0 #F56C8A, /* Ombre intérieure légèrement plus claire */
    0 0.0625em 0 0 #F34777, /* Première ombre extérieure */
    0 0.125em 0 0 #F02860, /* Ombre principale */
    0 0.25em 0 0 #D02552, /* Ombre plus sombre pour profondeur */
    0 0.3125em 0 0 #C0204C, /* Ton encore plus foncé */
    0 0.375em 0 0 #B11C45, /* Accentuation foncée */
    0 0.425em 0 0 #A1193E, /* Ombre très sombre finale */
    0 0.425em 0.5em 0 #990E36; /* Ombre finale plus diffuse */
  transition: 0.15s ease;
  cursor: pointer;

  p {
    font-family: var(--font-family-primary);
    color: var(--secondary-color-white);
  }
}

.button-primary-pink:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #F56C8A,
    0 0.03em 0 0 #F34777,
    0 0.0625em 0 0 #F02860,
    0 0.125em 0 0 #D02552,
    0 0.125em 0 0 #C0204C,
    0 0.2em 0 0 #B11C45,
    0 0.225em 0 0 #A1193E,
    0 0.225em 0.375em 0 #990E36;
}

// Boutton jaune 
.button-primary-yellow {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  height: fit-content;
  background-color: #FDD737;
  border: 0;
  color: var(--black); /* Texte foncé pour un bon contraste avec le jaune */
  border-radius: var(--border-radius-100);
  padding: 0.5rem 1rem 0.375em 1rem;
  margin-bottom: 7px;
  font-weight: var(--fw-semibold);
  font-family: var(--font-family-primary);
  text-shadow: 0 0.0625em 0 rgba(255, 217, 0, 0.5);
  box-shadow: inset 0 0.0625em 0 0 #FFE566, 0 0.0625em 0 0 #FCD947, 0 0.125em 0 0 #FDD737, 0 0.25em 0 0 #E5C030, 0 0.3125em 0 0 #D4AE2B, 0 0.375em 0 0 #C29C26, 0 0.425em 0 0 #B08A20, 0 0.425em 0.5em 0 #A2781C;
  transition: 0.15s ease;
  cursor: pointer;

  p {
    font-family: var(--font-family-primary);
    color: var(--black);
  }
}

.button-primary-yellow:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #FFE566, 0 0.03em 0 0 #FCD947, 0 0.0625em 0 0 #FDD737, 0 0.125em 0 0 #E5C030, 0 0.125em 0 0 #D4AE2B, 0 0.2em 0 0 #C29C26, 0 0.225em 0 0 #B08A20, 0 0.225em 0.375em 0 #A2781C;
}

// Boutton noir 
.button-primary-black {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  height: fit-content;
  background-color: #000000;
  border: 0;
  color: #ffffff; /* Texte blanc pour un contraste maximal */
  border-radius: var(--border-radius-100);
  padding: 0.5rem 1rem 0.375em 1rem;
  margin-bottom: 7px;
  font-weight: var(--fw-semibold);
  font-family: var(--font-family-primary);
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.2); /* Effet lumineux subtil */
  box-shadow: inset 0 0.0625em 0 0 #4D4D4D, 0 0.0625em 0 0 #333333, 0 0.125em 0 0 #1A1A1A, 0 0.25em 0 0 #0D0D0D, 0 0.3125em 0 0 #0A0A0A, 0 0.375em 0 0 #080808, 0 0.425em 0 0 #050505, 0 0.425em 0.5em 0 rgba(0, 0, 0, 0.9);
  transition: 0.15s ease;
  cursor: pointer;

  p {
    font-family: var(--font-family-primary);
  }
}

.button-primary-black:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #4D4D4D, 0 0.03em 0 0 #333333, 0 0.0625em 0 0 #1A1A1A, 0 0.125em 0 0 #0D0D0D, 0 0.125em 0 0 #0A0A0A, 0 0.2em 0 0 #080808, 0 0.225em 0 0 rgba(0, 0, 0, 0.9), 0 0.225em 0.375em 0 rgba(0, 0, 0, 0.8);
}

// Liens call to action

.cta-link {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--light-yellow);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }

  span {
    position: relative;
    font-family: var(--font-family-terciary);
    font-size: var(--fs-md);
    font-weight: var(--fw-semibold);
    letter-spacing: var(--ls-medium);
    color: var(--black);
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--black);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      width: 100%;
      background: var(--light-yellow);
    }

    svg {
      transform: translateX(0);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

// Set Bouttons dropdown 

// Boutton dropdown version blanche
.dropdown-black {
  cursor: pointer;
  position: relative; /* Assure que le contenu est positionné par rapport à la dropdown */
  min-width: 100px;
  summary {
    list-style: none;
    font-size: var(--fs-md);
    &::before {
      content: " 🇫🇷 ";
      display: inline-block;
      margin: 0 10px;
    }
  }

  .dropdown-content-black {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Espace entre le summary et le contenu */
    background: var(--brown);
    min-width: 180px;
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-4);
    overflow: hidden;

    a {
      display: block;
      color: var(--brown);
      padding: 0.45rem 1rem;
      min-width: 130px;
      transition: opacity 0.3s ease, background-color 0.3s ease;
      &:hover {
        background-color: opacify($color: #4e4e4d1f, $amount: 0.001);
      }
    }
  }
}

.button-qatorze {
  padding: 0.45rem 0;
  background-color: inherit;
  color: var(--secondary-color-white);
  font-family: var(--font-family-terciary);
  font-size: var(--fs-md);
  border: none;
  position: relative;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; /* Épaisseur du soulignement */
    width: 0%;
    background-color: var(--secondary-color-white); /* La couleur de l'underline */
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
  }
}


/* Différents titres */

.titre-1 {
  font-size: var(--fs-display-1);
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 40rem;
}

.titre-1_centered {
  @extend .titre-1;
  text-align: center;
}

.titre-2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
}

.titre-3 {

}

.mini-titre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-7);
  border: 1px solid var(--dark-grey-light-200);
  border-radius: var(--border-radius-100);
  font-weight: var(--fw-semibold);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 2rem;
  p {
    color: var(--secondary-color-white);
  }
}

.mini-titre-black {
  @extend .mini-titre;
  p {
    color: var(--black);
  }
}


.pulsing-point {
  width: 10px;
  height: 10px;
  background-color: #FDD737; /* Changer la couleur en jaune */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(253, 215, 55, 0.6);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      box-shadow: 0 0 20px rgba(253, 215, 55, 0.6);
  }
  50% {
      transform: scale(1.2);
      box-shadow: 0 0 30px rgba(253, 215, 55, 0.8);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 0 20px rgba(253, 215, 55, 0.6);
  }
}